.sidebar-inner{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
}

.logo{
    display: block;
    text-align: center;
    color: var(--liteblack);

}

.sidebar p{
    padding:30px 0;
}
.sidebar-inner{
    height: auto;
}
.logo-wrapper{
    margin: 100px 0;
    height: auto;
}
.h-6{
    height: 30px;
    width: 30px;
    padding-right: 5px;
}
.listitem{
    display: flex;
    margin: auto;
    justify-content: left;
    padding: 0 AUTO;
    border-radius: 50px;
    
}
.listitem:hover {
    background-color: var(--offwhite);
   padding: 0 AUTO;
    
    }


.list{
    word-wrap: break-word;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .5px;
    line-height: 30px;
    padding: 0px 0;
}

ul{
    list-style-type: none;
    
}
.navlink{
    text-decoration: none;
    
}

.active .ico{
    color: var(--black);
    
}

.active p{
    font-weight: 700;
}


.ico{
    
    display: flex;
    align-items: center;
    margin: 0px 0;
    padding: 0 20px;
    color: var(--grey);
}

.ico:hover{
    color: var(--black);
}

.logo-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
