.sidebar-inner{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
}

.logo{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
}

.sidebar-inner{
    height: auto;
}
.logo-wrapper{
    margin: 100px 0;
    height: auto;
}
.h-6{
    height: 30px;
    width: 30px;
    padding-right: 5px;
    color: #000;
}
.listitem{
    display: flex;
    margin: auto;
    justify-content: left;
    padding: 0 AUTO;
    border-radius: 50px;
    
}
.listitem:hover {
    background-color: var(--color4);
   padding: 0 AUTO;
    
    }


.list{
    word-wrap: break-word;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .5px;
    line-height: 30px;
    padding: 0px 0;
}

ul{
    list-style-type: none;
    
}
.navlink{
    text-decoration: none;
}
.ico{
    
    display: flex;
    align-items: center;
    margin: 0px 0;
    padding: 0 20px;

}

p{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 20px;
}