body{
    margin:2px;
    display: block;
    
    

}
.left{
    padding: 0 20px;
    z-index: 10;
    width: 15%;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--color3);
}
.right{
    padding-left: 17.7%;
    height: 100vh;
    background-color: var(--color1);
   
}