.settings{
background-color:var(--color3);
display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    vertical-align: center;
    width: 100%;
    margin:0 auto;
    text-align: center;
    flex-direction: column;
}

.slider{
    color: #000;
    background-color: var(--color1);
    height: 2px;
    width: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.thumb{
    background-color: var(--color1);
    height: 10px;
    width: 10px;
    cursor: pointer;
    border-radius: 50%;
}

p{
    padding:20px 0;
}