.settings{
background-color:var(--color3);
display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin:0 auto;
    text-align: center;
    flex-direction: column;
    padding-top: 50px;
    
}

.slider{
    width: 100%;
    max-width: 300px;
    height: 0vh;
    margin: auto;
    padding-bottom: 30px;
}
.thumb{
    cursor: pointer;
    position: relative;
    z-index: 100;
    background: var(--color3);
    border: 5px solid  var(--color1);
    border-radius: 100%;
    display: block;
    box-shadow: var(--color1);
}
.sliderwrap{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}
.track{
    position: relative;
    background:var(--color1);
}
.track-0{
    background: var(--color2);
}
.slider .track {
    top: 20px;
    height: 1px;
  }
  
  .slider .thumb {
      top: 10PX;
    width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 0;
  border-bottom: 16px solid var(--color1) ;
    line-height: 50px;
    display: flex;
    justify-content: center;
  }

.startend{
    display: flex;
    justify-content: space-between;
    max-width:300px ;
    width: 100%;
    margin: 0 auto;  


}
.startend p{
    font-size: 14px;
    padding: 0;
}
  